<%- include("./head.ejs", {variant: "compact"}) %>

<div>
  <a class="btn btn-danger m-4" href="http://localhost:8080">Add product</a>
  <h1 class="text-center text-white mt-5 mb-5">Products view</h1>
</div>
